.car-data-panel {
    /* height: 70vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* align-content: space-evenly; */
}

.cars-data-container{
  width:95%;
  margin:0 auto;
}

.car-data-panel .car-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 21%;
    /* height: 50%; */
    cursor: pointer;
    margin-top:5%;
    border-radius: 5%;
  }
  
  .car-data-panel .car-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .car-data-panel .car-card img {
    width:100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }

  .car-data-panel .car-card .card-container {
    text-align: left;
    /* position: relative;
    left:7%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: calc(6px + 1vmin);
  }
  
  .car-data-panel .car-card .card-container h3, .car-data-panel .car-card .card-container p {
    margin:3%;
  }

  .controls-panel{
    text-align:right;
    height:10vh;
  }
  
  .home-pagination-panel {
    margin-top:5%;
    font-size: calc(10px + 3vmin);
  }