.vehicle-detail-dialog {
    width: 70vw;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .vehicle-detail-dialog .vehicle-detail-dialog-header {
    display: inline-flex;
    justify-content: flex-end;
  }

  .vehicle-detail-dialog .vehicle-detail-dialog-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
  }

  .vehicle-detail-dialog-body .vehicle-detail-half {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .vehicle-detail-dialog-body
    .vehicle-detail-left
    .vehicle-image-container
    img {
    height: 90%;
    outline: 1px solid rgba(0, 0, 0, 0.2);
  }

  .vehicle-detail-dialog-body .vehicle-map-location iframe {
    height: 80%;
    width: 80%;
    outline: 1px solid rgba(0, 0, 0, 0.2);
  }

  .vehicle-detail-left {
    display: flex;
    flex-direction: column;
  }

  .vehicle-detail-left .vehicle-detail-left-half {
    height: 50%;
    text-align: center;
  }

  .vehicle-detail-right .vehicle-detail-right-half {
    height: 50%;
  }
  .vehicle-detail-right .vehicle-detail-right-half h4{
    margin:0
  }
  .vehicle-general-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .vehicle-general-details span {
    padding-top: 1%;
    width: 45%;
    height: 4vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  #testdrive-date-picker,
  #time-selection-dropdown-container {
    width: 60%;
    margin-top:4%;
  }

  #time-selection-dropdown-container #time-selection-dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  #time-selection-dropdown-container #time-selection-dropdown lion-select {
    width: 60%;
  }

  #lion-datepicker{
      display:inline-flex;
        justify-content: space-evenly;
        width: 80%;
        align-items:flex-end;
  }

  #lion-datepicker lion-button {
      height:50%;
      background-color: #2b6777;
        color:#c8d8e4;
        cursor:pointer;
  }


  #time-selection-dropdown-container lion-button {
    background-color: #2b6777;
    color:#c8d8e4;
    cursor:pointer;
  } 

  
  #lion-datepicker lion-button:hover, #time-selection-dropdown-container lion-button:hover {
    background-color: #c8d8e4;
      color:#2b6777;
}